:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText: #4b5156;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

    --buttonColor:black;

}
html, body{
    padding:0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,strong{
    color:var(--mainText);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

p,li,span,label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Lora', serif;

}

a{
    text-decoration: none;
    color: #17a2b8;

}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}



.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            'nav-wrapper nav-wrapper'
            'left-column right-column'
    ;

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);


}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.socials-wrapper{
    display: flex;
    padding: 10px;

}

#icon-1{
    background-color: transparent;
}
#icon-2{
    background-color: transparent;
}
#icon-3{
    background-color: transparent;
}

.socials{
    height: 15px;
    width: 15px;
    margin: 10px;
}

.left-column{
    grid-area: left-column;

}

#profile{
    padding-top: 10px;
    padding-left: 10px;
    display: compact;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px solid var(--borderColor);
    box-shadow: 5px 5px #ffb6e6;
}
#git-info{
    display: compact;
    margin-left: 10px;
    margin-right: auto;
    object-fit: cover;
    border: 1.5px solid #17a2b8;
    border-radius: 10px;
    box-shadow: 15px 10px var(--previewShadow);
    max-width: 85%;
    height: auto;


}
#git-info-2{
    display: compact;
    margin-left: 10px;
    margin-right: auto;
    object-fit: cover;
    border: 1.5px solid #17a2b8;
    border-radius: 10px;
    padding:15px;
    background-color: var(--previewShadow);
    max-width: 85%;
    height: auto;

}


.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;


}


#prev-shad{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;


}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;

}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;

}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 95px;
}

#skills{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #d5f8ed;

}



#fembot-features{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #d5f8ed;

}


.focus-link{
    display: grid;
    align-content: center;
    text-align: center;

}
.fembot-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
#fembot-img{
    ;
    width: 100px
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding: 15px;

}

.post-title{
    color: black;
    margin: 0;

}
.post-intro{
    color: #4b5156;
    font-size: 16px;
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

#contact-form{
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 3px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}


#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#fff;
    background-color: var(--buttonColor);
    border:none;
}






@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%
    }
}
@media screen and (max-width: 800px) {
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
    ;}


    }
